<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<!--
  ~ Copyright (c) 2012 Czech Technical University in Prague.
  ~
  ~ All rights reserved. This program and the accompanying materials
  ~ are made available under the terms of the GNU Lesser Public License v2.1
  ~ which accompanies this distribution, and is available at
  ~ http://www.gnu.org/licenses/old-licenses/lgpl-2.1.html
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
  -->

<plugin>
    <!--
    <extension point="org.slf4j.pde.loggers">
         <loggerMapEntry	regex="^cz.cvut.kbss.owldiff\..*" symbolicName="cz.cvut.kbss.owldiff.neonplugin"/>
    </extension>
    -->
    <extension
            point="org.eclipse.ui.views">
        <category
                name="OWLDiff"
                id="cz.cvut.kbss.owldiff.neonplugin.category">
        </category>
        <view
                allowMultiple="true"
                category="owldiff_neon_perspective"
                class="cz.cvut.kbss.owldiff.neonplugin.views.OWLDiffView"
                icon="icon-small.gif"
                id="cz.cvut.kbss.owldiff.neonplugin.view"
                name="OWLDiff View">
        </view>
    </extension>
    <extension
            point="org.eclipse.ui.perspectives">
        <perspective
                class="cz.cvut.kbss.owldiff.neonplugin.OWLDiffPerspectiveFactory"
                icon="icon-small.gif"
                id="cz.cvut.kbss.owldiff.neonplugin.perspective"
                name="OWLDiff">
        </perspective>
    </extension>
    <extension
            point="org.eclipse.ui.popupMenus">
        <objectContribution
                adaptable="true"
                id="cz.cvut.kbss.owldiff.neonplugin.ontologyObjectContribution"
                objectClass=" com.ontoprise.ontostudio.owl.gui.navigator.ontology.OntologyTreeElement">
            <action
                    class="cz.cvut.kbss.owldiff.neonplugin.RunOWLDiffAction"
                    enablesFor="2"
                    icon="icon-small.gif"
                    id="cz.cvut.kbss.owldiff.neonplugin.RunOWLDiffAction"
                    label="Run OWLDiff">
            </action>
        </objectContribution>
    </extension>

</plugin>
